*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cargando{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 11rem;
}

.tarjetas{
    margin-top: 8rem;
}

.card{
    position:static;
    height: 500px;
    background-color: white;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    display: flex;
}

.card:hover{
    box-shadow: 0 0 10px 3px  #0e0532;
}

.card .imgBox{
    position: static;
    min-width: 48%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .imgBox img{
    width: 85%;
}

.card .details{
    position:static;
    min-width: 45px;
    background: #4ba9e9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px;
    color: rgb(4, 26, 96);
}

.card .details .talla ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card .details .talla ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    padding: 0.5rem;
}

.card .details .talla ul li:hover{
    background-color: #fff;
}

.card .details .titulo{
    font-size: 30px;
}

.card .details .precio{
    display: flex;
    justify-content: space-between;
    font-size: 30px ;
}

.btn{
    
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px 20px 0;
    background: #277cb4;
    border: 2px solid #fff;
    border-radius: 8px 8px 8px 8px;
    color: rgb(4, 26, 96)
}

.btn:hover{
    background: #fff;
}


@media (max-width:599px){
    .tarjetas{
        margin-top: 12rem;
    }
    }




@media (max-width:865px) {
    .card .details .precio{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .card .details .btn{
        margin-top: 1rem;
    }
    
    .card .details .talla{
        margin-top: 1rem;
    }
    .card .details .descripcion{
        margin-top: 1rem;
    }
}


@media (max-width:780px){
    .card .details .talla ul{
        display: flex;
        flex-wrap: wrap;
    }
    .card .details .precio{
        margin-top: 2rem;
    }
    .card .details .btn{
        margin-top: 1rem;
        font-size: 25px;
        padding: 10px; 
    }
} 


@media (max-width:864px){
    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 0.8fr;
        grid-template-areas: "card"
                             "details";
        
    }
.card{
    grid-area: card;
}

.details{
    grid-area: details;
}


}

@media (max-width:786px) {
    .btn{ 
        padding: 5px;
        font-size: 12px;
    }
}
